<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <h1>Checkerboard</h1>
    <div class="manyboxes">
        {% for x in range(1,9): %}
        <div>
            {% for y in range(1,9): %}
                <div class="onebox color{{(x+y)%2 + 1}}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- <div class="manyboxes">
        {% for x in range(0,4): %}
            {% for y in range(0,4): %}
                <div class="onebox red"></div>
                <div class="onebox black"></div>
            {% endfor %}
            {% for y in range(0,4): %}
                <div class="onebox black"></div>
                <div class="onebox red"></div>
            {% endfor %}
        {% endfor %}
    </div> -->
</body>
</html>