<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <h1>Checkerboard</h1>
    <div class="manyboxes">
        <!-- if there is already a Jinja forloop, then you don't have to put additional Jinja syntax for things inside, like num1 and num2 -->
        <!-- a div is needed to group all of the boxes in a row -->
        {% for x in range(num1): %}
            <div>
            {% for y in range(num2): %}
                <div class="onebox color{{(x+y)%2 + 1}}"></div>    
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!-- <div class="manyboxes">
        {% for x in range(0,2): %}
            {% for y in range(0,4): %}
                <div class="onebox color1"></div>
                <div class="onebox color2"></div>
            {% endfor %}
            {% for y in range(0,4): %}
                <div class="onebox color2"></div>
                <div class="onebox color1"></div>
            {% endfor %}
        {% endfor %}
    </div> -->
</body>
</html>